<md-toolbar class="app-navbar" color="primary">
  <md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/cesar" routerLinkActive="active"> {{ 'cesar.name' | translate }} </button>
    <button md-menu-item routerLink="/cesar/key" routerLinkActive="active"> {{ 'cesarWithKey.name' | translate }} </button>
    <button md-menu-item routerLink="/vigenere" routerLinkActive="active"> {{ 'vigenere.name' | translate }} </button>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>menu</md-icon>
  </button>

  <button md-icon-button [disableRipple]="true" class="navbar-button"
          routerLink="/" routerLinkActive="active">
    {{ 'app.title' | translate }}
  </button>

  <a md-button class="docs-button" href="https://github.com/er-ant/encoding-information"
     aria-label="GitHub Repository" class="github-link" target="_blank">
    <img class="docs-github-logo" src="/encoding-information/assets/img/github.svg" alt="GitHub">
    <span>GitHub</span>
  </a>
</md-toolbar>
