<app-coding-page-header [heading]="title"></app-coding-page-header>
<div class="flex-container">
  <md-card class="card">
    <form #cardForm="ngForm" (ngSubmit)="encrypt()">
      <md-card-content>
        <md-input-container class="full-width">
          <textarea class="textarea-vertical" mdInput placeholder="{{ 'app.inputText' | translate }}"
                    [(ngModel)]="text" name="inputText" required>
          </textarea>
        </md-input-container>
        <md-input-container class="full-width mb20">
          <textarea class="textarea-vertical" mdInput placeholder="{{ 'cesarWithKey.inputKey' | translate }}"
                    [(ngModel)]="key" name="key" required>
          </textarea>
        </md-input-container>
        <md-select class="full-width mb20" placeholder="{{ 'app.chooseAlphabet' | translate }}"
                   [(ngModel)]="alphabet" name="alphabet" required>
          <md-option *ngFor="let alphabet of alphabets" [value]="alphabet.name">
            {{ 'alphabets.'+ alphabet.name | translate }}
          </md-option>
        </md-select>
        <md-input-container class="full-width">
          <textarea class="textarea-vertical" mdInput [disabled]="!encryptedText">{{encryptedText}}</textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions class="ml0">
        <button md-button type="submit" [disabled]="cardForm.form.invalid">{{ 'app.encode' | translate }}</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
