.card {
  margin: 50px 50px 0;
  width: 400px;
}

.full-width {
  width: 100%;
}

.textarea-vertical {
  resize: vertical;
}

.font-size-normal {
  font-size: 16px;
}

.mt50 {
  margin-top: 50px
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml0 {
  margin-left: 0;
}
