$background-striped-row-color: #eee;
$header-dark-color: #333;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
}


h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


// Helper classes
.full-width {
  width: 100%;
}

.textarea-vertical {
  resize: vertical;
}

.mt50 {
  margin-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml0 {
  margin-left: 0;
}
